body{
    background-color: #ff3e61;
    color: azure;
    font-family: 'Arial', sans-serif;
}

#container{
    background-color: #3778ff;
    width: 70%;
    margin: 10px auto;
    padding: 15px;
}
header{
    text-align: center;
    border: #b0dcff;
    border-style: dotted;
    background-color: #00c5ff;
    margin-bottom: 20px;
}

input[type=submit]{
    background: #ff953e;
    border: 0;
    color: azure;
    padding: 12px 12px;
    cursor: pointer;
}

#results{
    background-color: yellow;
    color: black;
}
#results span{
    color: blue;
}

